<div class="s-wn hd">
  <ul class="scMenu justBack">
    <li class="icon-left"  (tap)="panel.goBack()">
      <p>Signup</p>
    </li>
  </ul>
</div>
<div class="s-wn sb tpfixed" (panstart)="panel.dragStart($event)" (pan)="panel.drag($event)" (panend)="panel.dragEnd()" (pancancel)="panel.dragCancel()">
  <form class="user" #formCtrl="ngForm" (ngSubmit)="signUpWithEmail()">
    <div>
      <label>E-mail address</label>
      <input type="email" [(ngModel)]="userEmail" name="email" placeholder="E-mail">
    </div>
    <div>
      <label>Password</label>
      <input type="password" [(ngModel)]="userPassword" name="password" placeholder="Password">
    </div>
    <div>
      <input value="Signup" type="submit">
    </div>
    <div>
      <p *ngIf="userMessage" id="messageContainer">{{ userMessage }}</p>
    </div>
    <div>
      <p>
        <a routerLink="/fgpwd" routerLinkActive="active" class="external">Forgot password</a>
      </p>
      <p>
        <a routerLink="/signin" routerLinkActive="active" class="external">Signin</a>
      </p>
    </div>
  </form>

</div>
